.container {
    display: flex;
    flex-direction: column;
    text-align: center;
  
    img { max-width: 100%; }
  
    a {
      width: auto;
      text-decoration: none;
      color: #222;
      transition: transform 200ms ease-in-out;
    }
  
    a:hover {
      transform: scale(1.05);
    }
  }
  
  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    align-items: start;
    justify-items: center;
  }
  
  @media (width >= 800px) {
    .projectsContainer {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 0 30px;
    }
  }

  @media (width >= 1200px) {
    .projectsContainer {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }